/* 

::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none !important; 
  scrollbar-width: none !important; 
} 
*/

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #2a2d64;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #535ac8;
}

.light-mode {
  background-color: #000 !important;
  font-size: 40px !important;
}
