body .light-mode {
  background-color: #f2f0f0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/* Dark Mode Scrollbar Handle  */
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #2a2d64;
}

/* Dark Mode Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #535ac8;
}

/* Light Mode Scrollbar Handle  */
.light-mode ::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #aaa;
}

/* Light Mode Scrollbar Handle on Hover */
.light-mode ::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
